/* 设置所有元素的边距和内边距为0 */
*{
    margin:0;
    padding:0
}

/* 设置ul、li、ol的列表样式为无 */
ul,li,ol{
    list-style:none;
    /* 居中排列 */
    text-align: center;
}

/* 设置a标签的文本装饰为无 */
a{
    text-decoration: none;
}